@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html, body{
    height: 100%;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.flipcard{
    height: 250px;
    width: 400px;
    background-color: transparent;
    perspective: 1000px;
    z-index: 1;
    color: white;
}

.flipcard-inner{
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
}

.flipcard:hover .flipcard-inner{
    transform: rotateY(180deg);
}

.front-side{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
    


    background-color: transparent;
    backdrop-filter: blur(25px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: rgba(255, 255, 255, 0.1);
    perspective: 1000px;

}

.back-side{
    position:absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 20px;


    background-color: transparent;
    backdrop-filter: blur(25px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: rgba(255, 255, 255, 0.1);
    perspective: 1000px;
}

.front-side img{
    height: 50px;
    width: auto;
}

section {
    min-height: 100vh;
    width: 100%;
    perspective: 1000px;
    background-color: rgb(19, 15, 34);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

section::before{
    content: "";
    height: 240px;
    width: 240px;
    border-radius: 50%;
   
    perspective: 1000px;
    background:  linear-gradient(90deg, #9c27b0, #f3f5f5);
    position: absolute;
    transform: translate(-150px, -150px);
}


section::after{
    content: "";
    height: 240px;
    width: 240px;
    position: absolute;
    transform: translate(150px, 150px);
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);
    border-radius: 50%;
    perspective: 1000px;
}

.front-side .card-head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-weight: 300;
    text-decoration-style: none;
}

.card-head > #main-logo-container{
    flex-basis: 10%;
    padding-left: 10px;
}
.card-head > p{
    flex-basis: 65%;
    padding-left: 10px;
}
.card-head > #chip-logo-container{
    flex-basis: 10%;
    margin-right: 10px;
}

.card-head img{
    height: 33px;
    
}


.card-details{
    padding-left: 20px;
    margin-top: 25px;
}

.card-details > small{
    font-size: 11px;
}

.card-details > p{
    font-size: 17px;
}

#card-number{

    margin-top: -2px;
    margin-bottom: 10px;
}

#name{
    margin: 25px 0;
    display: inline-block;
}

.date-container{
    height: fit-content;
    width: fit-content;
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.back-side > small{
    font-size: 8px;
    margin: 35px 30px;
}

.black-barcode{
    width: 100%;
    height: 50px;
    background-color: black;
    margin-top: 15px;
}

.white-barcode{
    margin-left: 30px;
    margin-top: 35px;
    height: 25px;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.white-barcode .front{
    height: 150%;
    width: 90%;
    background-color: #caddd7;
    border-radius: 5px;
    overflow: hidden;
    
}

.front hr{
    margin: 6px;
    background-color: white;
}

#last-para{
    line-height: 1;
}

#last-para{
    font-size: 9px;
    margin: 30px 25px;
    font-weight: 300;
    line-height: 1.5;
}

button{
    position: absolute;
    right: 50px;
    bottom: 50px;
    padding:10px 20px;
    border-radius: 10px;
    border:2px solid white ;
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);
    transition: all 0.8s ease;
}

button:hover{
    background: linear-gradient(135deg, #1a141b, #839c9c);
}

.white-barcode i{
    position: relative;
    right: 1px;
    margin-left: 5 px;
    color: #1a141b;
    font-size: 12px;
}